
name: Create Production Release Tag

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest


    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      - name: Setup timezone
        uses: zcong1993/setup-timezone@master
        with:
          timezone: Asia/Tokyo
      #echo "RELEASE_DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
      - name: Get Date
        run: |
          echo "RELEASE_DATE=$(date "+%H%M%S_%d%m%Y")" >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: prd_release_${{ env.RELEASE_DATE }}
          release_name: Production Release ${{ env.RELEASE_DATE }}
          body: |
            Changes in this Release
          draft: false
          prerelease: false
